/* @font-face {
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
    src: url(baskervville);
} */

@font-face {
    font-family: 'rahayuregular';
    src: url('../fonts/rahayu-webfont.woff2') format('woff2'),
         url('../fonts/rahayu-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
:root {
    --dark-blue: #348aa7;
    --medium-green: #bce784;
    --off-white: #f7f7f7;
    --charcoal: #2a2d34;
    --rubik: 1.6rem/1.5 "Rubik", sans-serif;
    --borders: 1px solid black;
    --pink: #ae677df9;
    --brown: #7d46226a;
} 

/* typography */
body {
    font-size: 1.25rem;
    line-height: 1.5;
    font-family: Baskervville;
}

span {
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: italic;
}

h2 {
    font-size: 8rem;
    margin-bottom: 3rem;
}

h3 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

p {
    margin-bottom: 1rem;
}

nav a {
    font-style: italic;
    font-size: 1.5rem;
}

nav a:hover {
    text-decoration: underline;
}

.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.round-button {
    background-color: black;
    color: white;
    border-radius: 50%;
    display: block;
    width: 9rem;
    height: 9rem;
    padding: 0.4rem;
    z-index: 50;
}
.round-button span {
    border: 1px solid white;
    display: block;
    border-radius: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ******************* header ********************************* */
header {
    background-color: white;
}

.site-id {
    margin: 0 auto;
    width: 35%;
    display: flex;
    align-items: center;
}

.logo {  
    text-align: center;
    color: var(--charcoal);
    text-decoration: none;
    padding: 1rem 1rem 0.5rem 1rem;
}
.logo span {
    font-family: 'rahayuregular';
    font-size: 1.5rem;
}

.logo img:last-of-type {
    display: none;
}

.toggle-btn {
    position: absolute;
    right: 0;
    padding: 1rem;
    width: 5rem;
    display: block;
}

header nav {
    position: absolute;
    top: 5.5rem; /* the height of the closed header */
    left: 0;
    width: 100vw;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease-in-out;
    background-color: white;
    }

.show-nav {
    max-height: 100vh;
    z-index: 50;
    }

nav ul li a {
    display: block;
    padding: 1rem;
    color: black;
    z-index: 100;
}
/* **************** banner ************* */

.banner {
    position: relative;
}

.banner p {
    position: absolute;
    top: 7%;
    background-color: hwb(40 47% 32% / 0.93);
    color: #fbf9fb;
    line-height: 1.15;
    padding: 1rem;
    margin-right: 1rem;
}
.banner a {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.7rem;
    color: rgba(128, 128, 128, 0.528);
    font-style: italic;
}
.banner a:hover {
    color: rgba(128, 128, 128, 0.703);
    text-decoration: underline wavy;
}
.banner img {
    display: block;
}

/* main layout */

.proposal > div {
    color: #030303;
    /* background-color: hwb(41 47% 32% / 0.902); */
    line-height: 1.25;
    padding: 3.75rem 7rem;
    margin: 1rem;
}

.proposal h3 {
    font-style: italic;
    margin-bottom: 1rem;
}
.proposal img {
    /* padding-right: 9rem; */
    padding-right: 6rem;
}

.proposal .round-button {
    position: absolute;
    right: 0;
}
.expenses {
    text-align: center;
    padding: 4rem 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.expenses div {
    margin-bottom: 1rem;
}
.details > div {
    align-items: end;
    padding: 1rem;
}
.details span {
    font-size: 1.75rem;
    padding-right: 0.5rem;
}

.details p {
    text-align: right;
}
.details .copy {
    padding-left: 0.5rem;
}
.details p:nth-child(2) {
    padding-left: 2.5rem;
}
.details p:last-child {
    padding-left: 5rem;
}

.details .overlap {
    background-color: #d1a78f;
    margin-left: 2.5rem;
    margin-bottom: 8rem;
    margin-right: 4rem;
}
.details .overlap img {
    transform: translate(3rem, 2rem);
    outline: 1px solid black;
    outline-offset: -0.75rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
}
.details h3 {
    margin-top: -5rem;
    padding-left: 2.5rem;
    display: flex;
    align-items: flex-start;
    text-align: left;
    width: 100%;
}

.details {
    margin-bottom: 2rem;
}

.stories {
    padding: 2rem;
} 

.stories > div {
    border: 1px solid black;
}

.stories h3 {
    /* padding: 1rem; */
    padding-bottom: 0;
}
.stories > div > div {
    padding: 1rem;
}
.stories img {
    padding: 0.25rem;
}

.stories a {
    position: absolute;
    right: 1rem;
    bottom: -32%;
}

.stories {
    margin-bottom: 5rem;
}

.spill {
    /* background-image: url("../img/paper-background-sm.webp"); */
    margin-bottom: 3rem;
}
.spill h3 {
    transform: rotate(2deg);
    text-align: center;
}

.spill p {
    /* background-color: rgba(108, 74, 34, 0.7); */
    /* border-radius: 3rem; */
    padding: 3rem 6rem;
    margin-top: -2rem;
}

.spill picture {
    width: 50%;
    transform: rotate(-2deg);
    border: var(--borders);
    padding: 0.25rem;
}
.spill a {
    text-align: center;
    position: absolute;
    right: 12%;
    bottom: -65%;

}
.photo-arrange .brown-bg {
    background-color: #7d46226a;
    height: 70%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.questions > div {
    background-color: #ae677df9;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
}
.questions img {
    background-color: var(--pink);
    margin-bottom: -0.6rem;
    /* border: var(--borders); */
}
.questions > div > div {
    width: 75%;
}

.rocky-mountain-stamp {
    float: left;
    width: 12rem;
    margin-right: 1rem;
    border-radius: 50%;
    shape-outside: margin-box;
}

.features {
    padding: 2rem;
    margin-bottom: 2rem;
}
footer {
    background-color: #ae677df9;
    padding: 1rem;
}
footer nav {
    width: 100%;
}
footer ul {
    display: flex;
    justify-content: space-between;
    /* gap: 2rem; */
}
footer a,
footer nav ul li a {
    color: black;
    font-size: 1.25rem;
    padding: 1rem;
}
footer a:hover {
    color: #ae677df9;
}

footer div {
    display: flex;
    width: 100%;
    justify-content: left;
    gap: 2rem;
    margin-top: 1rem;
}
@media screen and (min-width: 400px) {
    header nav {
        top: 7.45rem;
    }
    .banner p {
        font-size: 1.5rem;
    }
    .site-id {
        width: 45%;
    }
    .logo span {
        font-size: 2.15rem;
    }
    .toggle-btn {
        width: 6rem;
    }
    .logo {
        padding: 2rem 2rem 1rem 2rem;
    }
    .spill a {
        bottom: -70%;
    }
}
@media screen and (min-width: 500px) {
    .site-id {
        width: 220px;
    }
    section p,
    footer a,
    footer nav ul li a {
        font-size: 1.35rem;
    }
    .expenses {
        padding: 5rem 6rem;
    }
    .details > div {
        padding: 2rem;
    }
    .stories,
    .features {
        padding: 2.5rem 4rem;
    }
    .stories img {
        padding: 0.4rem;
    }
    .stories .copy {
        margin-bottom: 3rem;
    }
    .stories a {
        bottom: -10rem;
    }
    .round-button {
        width: 10rem;
        height: 10rem;
        font-size: 1.36rem;
    }
    .spill a {
        bottom: -90%;
        right: 15%;
    }
}
@media screen and (min-width: 680px) {
    .proposal > div {
        position: absolute;
        top: 30%;
        padding: 0;
        width: 100%
    }
    .proposal > div > div {
        width: 69%;
        margin: 0 auto;
    }
    .proposal img {
        margin-top: 3rem;
        padding: 0;
    }
    .details {
        padding: 0 4rem;
        margin-bottom: 0;
    }
    .stories {
        margin-bottom: 4rem;
    }
    .stories > div {
        flex-direction: row;
        gap: 2rem;
        border: none;
    }
    .stories .copy {
        width: 80%;
        padding: 0;
        margin-top: -5rem;
    }
    .stories img {
        border: var(--borders);
    }
    .stories a {
        left: 0;
    }
    .spill p {
        padding: 2rem 4rem 3rem 4rem;
        width: 70%;
        margin: -2rem auto 0 auto;
    }
    .spill a {
        bottom: -100%;
        right: 17%;
    }
}
@media screen and (min-width: 800px) {
    .toggle-btn {
        display: none;
        position: static;
    } 

    header nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: static;
        overflow: visible;
        max-height: unset;
        padding: 1.5rem;
        width: 100%;
        }
        
    header nav ul {
        display: flex;
        flex-direction: row;
        width: 30%;
        justify-content: space-between;
    }
    header nav ul a {
        padding: 2.5rem 1rem 0 1rem;
        line-height: 2;
        text-align: center;
    }
    .site-id {
        position: absolute;
        width: 20%;
    }
    .logo span {
        font-size: 2rem;
    }
    .proposal img {
        margin-top: 0;
    }
    .banner {
        padding: 0.75rem 5rem 5rem 5rem;
    }
    .banner p {
        font-size: 1.75rem;
        margin-right: 5%;
        padding: 3rem 2rem;
        line-height: 1.5;
    }
    .banner a {
        bottom: 7rem;
        right: 7rem;
    }
    .proposal h3 {
        font-size: 4.5rem;
    }
    main p {
        font-size: 1.5rem;
    }
    .details h3 {
        left: 76%;
    }
    .spill .brown-bg {
        display: none;
    }
    .spill > div {
        flex-direction: row-reverse;
        flex-wrap: wrap;
        padding: 0 2rem;
    }
    .brown-bg-lg {
        background-color: var(--brown);
        position: absolute;
        height: 80%;
        width: 100%;
    }
    .spill .copy {
        width: 30%;
    }
    .spill p {
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .spill h3 {
        /* transform: rotate(0deg); */
        text-align: left;
        padding-left: 3rem;
    }
    .spill a {
        bottom: -25%;
        right: 40%;
    }
    .spill picture {
        transform: rotate(0deg);
        width: 100%;
    }
    .spill .photo-arrange {
        width: 60%;
        padding: 1rem;
    }
    .proposal {
        order: 1;
    }
    .expenses {
        order: 2;
    }
    .details {
        order: 3;
    }
    .stories {
        order: 4;
    }
    .questions {
        order: 5;
    }
    .spill {
        order: 6;
    }
    .features {
        order: 7;
    }
    .questions {
        margin-bottom: 3.75rem;
    }
   
}
@media screen and (min-width: 920px) {
    header nav {
        padding: 1.5rem 4% 1.5rem 4%;
    }
    header nav a {
        font-size: 1.75rem;
    }
    .site-id {
        bottom: 0;
        z-index: 50;
        transform: translate(0, 100%);
        width: 90%;
        padding: 1rem;
        padding-top: 3rem;
    }
    .horizontal-line {
        height: 2px;
        background-color: #d3b05fb3;
        border-radius: 15%;
        width: 45%;
        z-index: 100;
    }

    .logo span {
        color: #f6e3d7;
        font-size: 3rem;
    }

    .logo img:last-of-type {
        display: block;
        /* padding-top: 1rem; */
    }

    .logo img:first-of-type {
        display: none;
    }
    .banner {
        padding: 0 7rem 7rem 7rem;
    }
    .banner p {
        top: 18%;
        padding: 3rem 1rem 1.5rem 1rem;
    }
    .banner a {
        padding: 2rem;
    }
    .details .overlap {
        width: 85%;
    }
    .spill a {
        bottom: -35%;
        right: 64%;
    }
    .features, 
    footer .wrapper {
        width: 80%;
    }
}
/* @media screen and (min-width: 1250px) {
    header .wrapper {  
        max-width: 1250px;
    }
} */


/* ************* faq layout ****************** */
.bg-tan header,
.bg-tan footer {
    /* margin-bottom: 1rem; */
    background-color: #f6eade;
    padding: 1rem;
}
.bg-tan header a {
    color: black;
}
.bg-tan footer a {
    color: #f6eade;
}
.bg-tan header a:hover,
.bg-tan footer a:hover {
    text-decoration: underline;
}
.bg-tan header,
.bg-tan footer {
    text-align: right;
}
.bg-tan footer {
    background-color: #431f07;
}
.directions > div:first-child,
.address,
.seating {
    padding: 0 3rem;
    margin-bottom: 2rem;
}

.floor-plan {
    padding: 1rem;
}

.bg-tan {
    background-color: #f6eade;
    color: #431f07;
    letter-spacing: 1.2px;
}

.faqs {
    position: absolute;
    top: 0;
    line-height: 0.8;
    left: 37%;
}

.grid-1 {
    margin-bottom: 3.5rem;
}

.seating ul {
    border: 1px solid black;
    padding-left: 3rem;
    margin-left: 2.5rem;
}

.seating {
    margin-bottom: 6rem;
    color: #030303;
}

.directions > div:first-child p {
    padding-left: 3rem;
    margin-bottom: 0;
}

.address {
    position: absolute;
    top: 16%;
    z-index: 50;
    color: #431f07;
}

.address h4 {
    font-size: 1.8rem;
}

.address ul {
    padding-left: 2rem;
}

.map {
    width: 95%;
    margin: 1rem auto;
    padding-left: 3rem;
    padding-bottom: 5rem;
}

.policies > .relative {
    margin-top: 41rem;
    margin-bottom: 15rem;
}

.alcohol, 
.music,
.candles,
.vendors {
    position: absolute;
}

.alcohol {
   bottom: 100%;
   margin-bottom: 14.3rem;
   padding-bottom: 1.5rem;
   color: #431f07;
}

.alcohol div {
    border: 1px solid black;
    margin: 0 1rem;
    padding-left: 2rem;
}

.alcohol h3 {
    padding-left: 3.25rem;
    margin-bottom: 0;
}

.music {
    bottom: 75%;
    left: 8%;
}
.music h3 {
    color: #030303;
}

.music div p:last-child {
    padding-left: 30%;
    padding-right: 0.2rem;
}

.candles {
    text-align: right;
    bottom: 25%;
    right: 18.3%;
    color: #030303;
}

.candles p {
    margin-bottom: 0;
}

.vendors {
    top: 93%;
    padding: 0 1rem 0 1.75rem;
}

/* booking layout */

.booking {
    color: #030303;
    z-index: 50;
    margin-bottom: 3rem;
}

.booking h2 {
    padding-left: 10%;
    font-size: 4rem;
    line-height: 1.15;
    height: 20%;
}
.booking section {
    padding: 1rem 2rem;
    border: 2px solid white;
    margin-bottom: 0.5rem;
}

.booking section:first-of-type {
    background-color: #ab5821;
    margin-right: 3rem;
    border-left: 0;
}

.booking section:nth-child(3) {
    background-color: #c6d9c8;
    margin-left: 3rem;
    border-right: 0;
}
.booking section:nth-child(4) {
    background-color: #cccc66;
    margin-right: 3rem;
    border-left: 0;
}
.booking section:nth-child(5) {
    background-color: #b069ad;
    margin-left: 3rem;
    border-right: 0;
}
.booking section:nth-child(6) {
    background-color: #617263;
    margin-right: 3rem;
    border-left: 0;
}

@media screen and (min-width: 390px) {
    .music {
        bottom: 77%;
    }
    .music div p:last-child {
        margin-top: 5%;
        padding-left: 33%;
        margin-right: 1rem;
    }
    .candles {
        bottom: 27%;
    }
}
@media screen and (min-width: 440px) {
    .floor-plan {
        padding: 1rem 4rem 1rem 3rem;
    }
    .policies > .relative {
        margin-top: 30rem;
    }
    .alcohol {
        margin: 0 3rem 3rem 1rem;
    }
    .music {
        display: flex;
        align-items: center;
        left: 10%;
        gap: 5%;
        bottom: 74%;
    }
    .music h3 {
        padding-bottom: 7rem;
    }
    .music div p:last-child {
        margin-top: 0;
        padding-left: 0;
    }
    h3 {
        font-size: 3.75rem;
    }
    .candles h3 {
        margin-bottom: 0;
        margin-right: -2.75rem;
    }

    .vendors {
        padding-left: 1rem;
    }
}

@media screen and (min-width: 520px) {
    .faqs {
        line-height: 1.2;
    }
    .map {
        width: 80%;
        margin: initial;
        margin-top: -4rem;
        margin-left: 6rem;
    }
    .policies .relative {
        margin-top: 15rem;
    }
    .alcohol {
        left: 28%;
        bottom: 76%;
        margin-bottom: 0;
        padding-bottom: initial;
    }
    .music {
        justify-content: space-between;
        align-items: initial;
        left: 36%;
        top: 28%;
        gap: 28%;
    }
    .music h3 {
        padding-bottom: initial;
    }
    .music div {
        width: 65%;
    }
    .music h3 {
        width: 8%;
    }
    .music div p:last-child {
        margin-right: 0.2rem;
    }
    .candles {
        bottom: 25%;
        right: 17%;
    }
    .candles h3 {
        margin: 0;
        line-height: 1;
    }
    .vendors {
        top: 65%;
        padding: 5.75rem 0.7rem 4.5rem 1rem;
        margin-left: 0.5rem;
        border: 1px solid black;
        width: 35%;
    }
}

@media screen and (min-width: 680px) {
    .faqs {
        left: 10%;
        top: 0;
        font-size: 10.65rem;
        line-height: 1.25;
    }
    .seating {
        position: absolute;
        bottom: 62.5%;
        left: 53.25%;
        margin-bottom: 0;
    }
    .address {
        top: 25%;
    }
    .address h4 {
        font-size: 3.75rem;
    }
    .map {
        width: 60%;
        margin-left: 13rem;
        margin-top: -8rem;
    }
    .policies .relative {
        margin-top: 10rem;
    }
    .alcohol {
        padding-left: 1rem;
    }
    .music {
        left: 40%;
        justify-content: start;
        gap: 25%;
    }
    .music div p:nth-child(2) {
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 800px) {

    .seating h3 {
        padding-left: 36%;
    }
    body {
        font-size: 1.5rem;
    }
    .seating {
        right: 0;
        left: initial;
        padding-right: 1rem;
        width: 58%;
    }
    .seating ul {
        padding-left: 36%;
        padding-right: 5%;
        margin: 0;
    }
    .alcohol,
    .candles,
    .vendors {
        line-height: 2;
    }
    .music {
        left: 41%;
        gap: 24%;
        justify-content: flex-start;
    }
    .music div {
        width: 68%;
        line-height: 2;
    }
    .music div p:nth-child(2) {
        margin-bottom: 3.5rem;
    }
    .booking div,
    .booking section {
        position: absolute;
        background: none;
    }
    .booking div {
        top: 2%;
        left: 10%;
    }
    .booking h2 {
        font-size: 9rem;
        letter-spacing: 0.325rem;
    }
    .booking section:first-of-type,
    .booking section:nth-child(3),
    .booking section:nth-child(4),
    .booking section:nth-child(5),
    .booking section:nth-child(6) {
        background: none;
        border: none;
        margin: initial;
        padding: 0 3%;
    }
    .booking section:first-of-type {
        top: 22.5%;
        left: 35%;
    }
    .booking section:nth-child(3) {
        top: 35%;
        width: 75%;
    }
    .booking section:nth-child(4) {
        top: 45.5%;
        padding-left: 2%;
        letter-spacing: 1.1px;
    }
    .booking section:nth-child(4) h3 {
        padding-left: 12%;
    }
    .booking section:nth-child(5) {
        top: 62%;
        left: 21%;
    }
    .booking section:nth-child(6) {
        top: 73%;
    }
    .booking h3 {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1024px) {
    .grid-1 {
        margin-bottom: 10rem;
    }
    .seating li {
        max-width: 25rem;
        line-height: 1.75;
    }
    .directions > div:first-child p {
        padding-left: 0;
    } 
    .directions > div:first-child,
    .floor-plan {
        width: 85%;
        margin: 0 auto;
    }
    .directions > div:first-child {
        padding-left: 10%;
        margin-bottom: 4rem;
    }
    .address {
        padding-left: 20%;
    }
    .map {
        width: 45%;
        margin-left: 35%;
        margin-top: -10%;
        margin-bottom: 15rem;
    }
    
    .alcohol {
        width: 45%;
        left: 40%;
        bottom: 80%;
    }
    .music {
        top: 32%;
    }
    .music div {
        width: 54%;
    }

    .vendors {
        padding-right: 3rem;
        padding-left: 3rem;
    }
    .booking h2 {
        font-size: 12rem;
    }
    .booking section {
        font-size: 1.9rem;
    }
    .booking h3 {
        font-size: 5rem;
    }
    .booking section:first-of-type {
        top: 23%;
    }

}

@media screen and (min-width: 1200px) {
    .wrapper,
    .booking {
        max-width: 1440px;
        margin: 0 auto;
    }
    /* header ul, */
    footer ul,
    .booking-grid,
    .booking section {
        max-width: 1440px;
        margin: 0 auto;
    }
    .booking div {
        top: 3%;
    }
}






